* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1{
    font-family: 'Trebuchet MS', sans-serif;

}
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #f0f8ff;
}
table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
header {
    color: black;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 900px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

.product-item,
.supplier-item {
    text-align: center;
    margin: 10px;
}

.product-item img,
.featured-products img {
    max-width: 150px;
    height: auto;
}

form label {
    margin: 5px 0;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
footer {
    color: #3071ff;
    text-decoration: none;
    background-image: url("images/header.jpg");
}
